/client/zww/game/frameworks/runtime-src/publicTools
/client/zww/game/frameworks/runtime-src/proj.android-studio/app/release/*.apk
/client/zww/game/frameworks/cocos2d-x/tools/simulator/libsimulator/proj.win32/Debug.win32/*.obj
/client/zww/game/frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/bin/classes/org/cocos2dx/lib/*.class
/client/zww/game/frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/bin/classes
/tools/winvs/Lua543/Debug
/tools/winvs/Lua543/Release
/tools/winvs/Lua543/x64/Debug
/tools/winvs/Lua543/x64/Release
/tools/winvs/checkEnv
/tools/winvs/sandBox2Tools/.vs
/tools/winvs/sandBox2Tools/Release
/tools/winvs/sandBox2Tools/Debug
/tools/winvs/sandBox2Tools/x64
/client/zww/game/android-ndk-r12b
/client/zww/game/android-ndk-r12b1
/client/zww/game/android-ndk-r12
/client/zww/game/frameworks/cocos2d-x/cocos/2d/Debug.win32
/client/zww/game/frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/Debug.win32
/client/zww/game/frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build
/client/zww/game/frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.win32/Debug.win32
*.obj
*.tlog
client/zww/game/frameworks/cocos2d-x/licenses
client/zww/game/frameworks/runtime-src/pro.Sdk_Quick/build
client/zww/game/frameworks/runtime-src/pro.Sdk_Vivo/build
*.class
/client/zww/game/frameworks/runtime-src/proj.android/obj
/client/zww/game/sdklist
/client/zww/game/frameworks/runtime-src/proj.android/bin
/client/zww/game/frameworks/runtime-src/proj.win32/.vs
/client/zww/game/frameworks/cocos2d-x/external/bullet/proj.win32/Debug.win32
/client/zww/game/frameworks/cocos2d-x/external/Box2D/proj.win32/Debug.win32/*.pdb
/client/zww/game/frameworks/cocos2d-x/external/Box2D/proj.win32/Debug.win32/*.idb
/client/zww/game/frameworks/cocos2d-x/external/recast/proj.win32/Debug.win32
/client/zww/game/frameworks/cocos2d-x/tools/simulator/libsimulator/proj.win32/Debug.win32
/client/zww/game/frameworks/runtime-src/proj.win32/Debug.win32
/client/zww/game/frameworks/cocos2d-x/external/chipmunk/prebuilt/win10/arm/*.lib
/client/zww/game/frameworks/cocos2d-x/external/chipmunk/prebuilt/win10/win32/*.lib
server/serverPros/TestClassDll
server/serverPros/testCmdEnv
server/serverPros/tsdkBasePro
server/serverPros/tsdkWebBase
server/serverPros/WebApplication1
server/serverPros/CPPServerTest/crypto
/android-ndk-r12
/server/serverPros/CPPServerTest/thirdPartyLibrarys/libevent
/server/serverPros/servers
/server/serverPros/CPPServerTest/x64/Debug
/server/serverPros/CPPServerTest/x64/Release
/server/serverPros/gameStart/bin
/server/serverPros/gameStart/obj
/server/serverPros/gameStart/logs/*.log
/client/zww/game/frameworks/runtime-src/proj.win32
/client/zww/game/frameworks/cocos2d-x/external/Box2D/proj.win32/Debug.win32/libbox2d.Build.CppClean.log
/client/zww/game/frameworks/cocos2d-x/external/Box2D/proj.win32/Debug.win32/libbox2d.lib.recipe
/client/zww/game/frameworks/cocos2d-x/external/Box2D/proj.win32/Debug.win32/libbox2d.vcxproj.FileListAbsolute.txt
