<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tsixivivo">
    <!--联运SDK跳转游戏中心-->
    <uses-permission android:name="vivo.game.permission.OPEN_JUMP_INTENTS"/>
    <meta-data
        android:name="vivo_union_sdk"
        android:value="4.5.0.1" />
    <application>
        <activity android:name="com.vivo.unionsdk.ui.UnionActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="vivounion"
                    android:host="union.vivo.com"
                    android:path="/openjump"/>
            </intent-filter>
        </activity>
    </application>

</manifest>